*,*::before,*::after{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--main-text-color);
}

html{
    scroll-behavior: smooth;
    scroll-padding:90px;
}


:root{
    --main-bg-color: #F7F9fb;
    --main-text-color: #687864;
    --hero-text-color: #e0faf1;
    --nav-hover-bg-color: rgb(219, 219, 236);
    --aside-bg-color: hsl(240, 31%, 94%);
    --project-tile-overlay: #6878642e;
    --hero-text-background-color: #31718ec5;
    --project-tile-box-shadow-color: #687864;
    --accent-color:#5085A5;
}

body{
    background-color: var(--main-bg-color);
}

/* reset.css removed all font size from headings, so they must be specified in this file */


h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
    margin: 2rem;
}

p{
    font-size:1.3rem;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 1em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    Z-INDEX: 5;
    background-color: var(--main-bg-color);

}

#hamburger{
    display: none;
}

header>#social-links>ul{
    display: flex;
    align-items: center;
}

/* social links logos are the only things selected as of now */
header img{
    height: 40px;
    margin-right: 40px;
    margin-left: 40px;
}



header>nav>ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Removed underline from links */
.nav-links{
    text-decoration: none;
    color:var(--main-text-color);
    font-size: 1.2em;
    padding: 2em;
}

nav li{
    padding:2em 0em;
}


nav li:hover{
    background-color: var(--nav-hover-bg-color);
    
}

nav a{
    padding: 2em;
}

/* Should find a more aesthetically-pleasing picture */

#hero{
    position: relative;
    /* --base-font:4rem; */
    --base-font:4vw;
}

#hero>img{
    width: 100%;
}

#hero h1{
    font-size: 5vw;
    top:20%;
    left:5%;
    width: 5%;
    color:var(--hero-text-color);
    position: absolute;
    font-family: 'Righteous',cursive;
    letter-spacing: 5px;
}

#hero h2{
    font-size: 4.5vw;
    top:40%;
    left:5%;
    position: absolute;
    font-family: monospace;
    color: #e0faf1;
}

section{
    display: flex;
}

/* Aside, at the moment only contains the section headings */

aside{
    width: 20vw;
    padding-top:20px;
    background-color: var(--aside-bg-color);
    text-align: center;
    padding-right: 10px;
    position: relative;
}

/* This is just a small accent that changes on resizing */

aside::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: var(--accent-color);;
    right: 0;
    top:20px;
}


#greetings{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    
}

/* This is a png */
#face{
    width: 20%;
}

#greetings>h3{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    font-size: 3em;
}

section>article,#projects-section{
    width: 80vw;
    text-align: center;
    padding: 35px 50px;
}

#projects-section{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0;
}

.project-tile{
    width: 50%;
    flex:1 1 400px;
    position: relative;
    margin:10px;
    box-shadow: 0 0 10px 10px var(--project-tile-box-shadow-color);
    display: inline-block;  
} 

.project-tile>img{
    width: 100%;
}
/* made first image larger than others in larger display */

.project-tile:first-child{
    width:calc(100% - 20px);
    flex: none;
    margin: 10px 20px;
}

.code-link{
    font-size: 3vw;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3;
    padding: 10px;
    background: white;
}

/* This is the overlay that becomes invisible on hover */
.project-tile::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--project-tile-overlay);
}

.project-tile:hover::after{
    opacity: 0;
}

.project-screenshot{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.project-tile>h3{
    position: absolute;
    background-color: var(--main-bg-color);
    font-size: 4vw;
    padding: 5px;
    margin: 0;
    border: 3px dashed black;
    bottom: 0;
}

form{
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 1em;
    align-items: center;
    font-size: 2em;
}

form label {
    text-align: right;
    padding-right: 20px;
}

form input,textarea{
    padding: 0.5em 0px;
    font-size: 1.3rem;
}

input[type="text"],input[type="email"],textarea{
    width: 600px;
}

textarea{
    height: 300px;
}

input[type="submit"]{
    padding: .5em 2em;
    grid-column: 1/3;
    margin: auto;
    background-color: var(--aside-bg-color);
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--hero-text-background-color);
}

footer div,footer a{
    color: var(--hero-text-color);
    font-size: 1.5rem;
    padding: 1em;
    align-items: center;
    text-align: center;
}

/* children become centered in header, project tile's flex box flows vertically */

@media screen and (max-width:992px) {

    html{
        scroll-padding-top: 160px;
    }
    
    header{
        flex-direction: column;
        

    }
    
    header nav{
        margin-top: 10px;
    }

    #social-links{
        margin-top: 30px;
    }
    
    header ul{
        justify-content: space-evenly;
    }
    
    #hero h1{
        text-align: center;
    }
    main>section{
        flex-direction: column;
    }
    aside{
        width:auto;
        text-align: center;
        padding-top: 30px;
    }
    aside::after{
        content: "";
        position: absolute;
        width: 300px;
        height: 10px;
        background-color: var(--accent-color);
        bottom:0px;
        left:50%;
        transform: translateX(-50%);
        top:auto;
    }
    article,#projects-section{
        width: auto !important;
    }
    /* On these devices there isn't a hover, so I've removed the overlay */
    .project-tile::after{
        opacity: 0;
    }
    h2{
        margin-bottom: 1em;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    /* width changes so it does not overflow the container */
    input[type="text"],input[type="email"],textarea{
        max-width: 80%;
    }
    footer{
        flex-direction: column;
    }
    footer div,footer a{
        padding: .3em;
    }
}



@media screen and (max-width:768px) {
    html{
        scroll-padding-top: 120px;
    }


    header{
        padding: 20px 0 0 0;
    }

    header nav {
        margin-top: 0;
        width: 100%;
    }

    #social-links{
        margin-top: 0;
    }
    nav li{
        margin: 0;
        padding: 1em 0em;
    }

    header>nav>ul{
        flex-direction: column;
        align-items: center;
    }
    nav li{
        display: none;
    }
    .nav-links{
        padding: 0.8em;
    }
    #hamburger{
        transform: translateX(-50%);
        display: block;
        background-color: none;
        width: 20px;
        padding:20px;
        text-align: center;
        transition: all 300ms linear;
    }
    nav li:hover{
        background-color: transparent;
    }
    #hamburger.turned{
        transform: rotate(90deg);
    }
    #hamburger>span{
        padding:0px
    }
    nav li.opened{
        display: block;
    }
}